body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #1A1E2E;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.searchbar-container {
    display: flex;
	align-items: center;
	position: sticky;
    top: 0;
    z-index: 1000;
    height: 10%;
	width: 95%;
}

.searchbar {
    margin-top: 5px;
	font-size: 18px;
	padding: 9px 8px;
	width: 100%;
	padding-left: 35px;
	outline: none;
	background: #1A1E2E;
	color: #D7D9D7;
	border: 1px solid #333f72;
	border-radius: 10px;
	transition: .7s ease;
}

.searchbar:focus {
    background: #1B2454;
	border: 1px solid #4B67EB;
	border-radius: 15px;
}

.searchbar::placeholder {
    color: #cccccc;
}

.search-svg-icon {
    position: absolute;
	left: 10px;
	fill: #4660DC;
	width: 18px;
	height: 18px;
}

.content-container {
	display: flex;
	flex-direction: row;
}

.globemap-container {
    flex: 1;
    align-items: center;
}

.side-info-bar-container {
	display: flex;
	flex-direction: row;
}